body{
    margin: 0;
    padding: 0;
}



/* card  */
.card{
    width: 300px;
    height: 350px;

    border-radius: 15px;
    box-shadow: 2px 6px 10px #999;
    padding: 20px;
    margin: 20px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s;

    flex:  0 0 auto;  
    /* cursor: pointer; */
}

.card:hover{
    transform: translate(0px,4px);
    box-shadow: 0px 2px 5px #999;

}

.name{
    width: 100%;
    font-size: 1.5rem;
    padding-left: 15px;
    font-weight: 400;
}

.line{
    height: 2px;
    width: 90%;
    background-color: #ccc;
    margin: auto;
}

.card > img{
    width: 100%;
    box-shadow: inset 0px 0px 10px #666;
}


.c-bottom{
    display: flex;
    width: 100%;
    margin: 5px;
    align-self: flex-end;
    margin-top: auto;
}


.price{
    padding: 0 15px;

}

.add{
    /* padding: 0 25px; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    border-radius: 2px;
    font-size: 1rem;

    background-color: black;
    color: white;
    width: 45px;
    height: 30px;
    margin-left: auto;
    cursor: pointer;

    user-select: none;

}


/* Header  */
.header{

    position:fixed;
    top:0px;
    z-index: 1;

    display: flex;
    width: 100%;
    /* padding-top: 35px; */
    background-color: white;

    font-family: Arial, Helvetica, sans-serif;

    box-shadow: 0 5px 10px #ddd;
}

.header > div{
    font-size: 2rem;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    text-transform: uppercase;
    
}

.header > ul{
    display: flex;
    margin-left: auto;
    margin-right: 100px;

}

.header > ul > li{
    display: flex;
    margin: 25px;
    font-size: 1.2rem;
    text-transform: capitalize;

    
}

/* body  */
.body{
    margin-top: 200px;
    
}

.h-card{
    

    display: flex;
    flex-wrap: wrap;
    width: 70%;
    /* align-self: center; */
    margin: 0 auto;

    transition: all 0.2s;
}

/* routing  */

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    
    border-bottom: 2px solid #666;
}

.underline{
    border-bottom: 2px solid black;
}

/* home  */
.main{
    height: 100%;
    /* width: 100%; */
    /* background-color: rebeccapurple; */

    margin-top: 150px;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
}


.shopping-cart{
    /* margin-top: 100px; */
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    justify-content: center;
}

.btn-shop{
    display: inline-block;
    align-self: center;

    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 2px;

    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.2s all;
    /* background-color: rebeccapurple; */
}

.btn-shop:hover{
    transform: scale(0.95);
}


.btn-in{
    border: 5px white solid;

    border-radius: 2px;
    padding: 10px 20px;
    transition: all 0.2s;
}

/* footer  */
.footer{
    
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: black;
    color: white;
    margin-top: 50px;
    padding: 15px 25px;
    margin-top: auto;
    box-sizing: border-box;
}

.bottom{
    position: fixed;
    bottom: 0px;
}



.footer > h2{
    font-family: Arial, Helvetica, sans-serif;

    font-size: 2rem;
}


/* cart  */

.cart{
    margin-top: 200px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.cart-card{
    width: 50%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;

    box-shadow: 2px 6px 10px #999;

    margin: 10px 0;

    transition: all 0.2s;
    
}

.cart-card:hover{

    transform: translate(0px,4px);
    box-shadow: 0px 2px 5px #999;

}

.cart-head{
    display: flex;
    align-items: center;
}

.cart-head >h1{
    margin-left: 25px;
    /* background-color: red; */
}

.cart-head > div{
    margin-left: auto;
    margin-right: 25px;
}

.cross{
    width: 25px;
    height: 25px;

    background-color:#ff2222;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.cart-body > img{
    width: 50%;
    margin: 15px;
}

.cart-body{
    display: flex;
}

.cart-data{
    margin-top: 25px;
}

.cart-data > div{
    margin: 10px 0;
    text-transform: capitalize;
}

.total{
    width: 20%;
    margin: 15px;
    background-color: black;
    color: white;
    display: flex;
    padding: 5px 25px;
    border-radius: 2px;

    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

    transition: all 0.2s;

}

.fi-total{
    margin-left: auto;
}

/* buypage  */
.buy-head{
    position:fixed;
    top:0px;
    z-index: 1;

    display: flex;
    width: 100%;
    /* padding-top: 35px; */
    background-color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 60px;
    cursor: pointer;
    user-select: none;

    box-shadow: 0 5px 10px #ddd;

    
}

.buy-head > div{
    background-color: black;
    color: white;
    height: 100%;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-page{
    display: flex;
    flex-direction: column;

}

.info > h2{
    margin-left: 15px;

}

.data{
    padding: 10px 45px 45px 45px;
}


.buy-card{
    margin-top: 150px;
    display: flex;

    align-self: center;

    width: 50%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;

    box-shadow: 2px 6px 10px #999;

    flex-direction: column;



    transition: all 0.2s;

}

.buy-card > h2{
    margin-left: 25px;
}

.buy-main > img{
    width: 50%;
    margin: 25px;
}

.buy-main{
    display: flex;
    justify-content: center;
}

.buy-data{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}



.counter{
    display: flex;
    margin-top: 25px;
}

.btn{
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;

    transition: all 0.2s;
}

.btn:active{
    transform: scale(0.85);
}

.display-count{
   

    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.btn-buy{
    display: inline-block;

    margin-top: auto;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

}

.btn-buy:hover{
    transform: scale(0.95);
}




/* 404  */
.not-found{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;

    margin-top: 100px;

    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

/* checkout  */

.btn-check{
    display: inline-block;
    align-self: center;

    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.2s all;
    border-radius: 4px;
    user-select: none;
    /* background-color: rebeccapurple; */
}

.btn-check:hover{
    transform: scale(0.95);
}


.final-page{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa;
    cursor: pointer;
}

.git-hub{
    text-decoration: none;
    color: white;
}

.git-hub:hover{
    text-decoration: underline;
    cursor: pointer;
}

.empty{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;

    margin: 15px;
    color: #ff0000;
}


@media (max-width:1080px){
    .header{
        flex-direction: column;
    }

    .header > div{
        margin: 0;
        margin-top: 15px;
        align-self: center;
    }

    .header > ul{
        margin-right: 25px;
        margin-left: 0;
        display: flex;
    }

    .header > ul > li{
        margin: 10px;
        flex-grow: 1;
    }


    .shopping-cart{
        font-size: 3rem;
    }


    .footer > div{
        display: none;
    }

    .h-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buy-card{
        width: 90%;

    }

    .buy-main{
        flex-direction: column;
    }

    .buy-main > img {
        width: 70%;
        align-self: center;
    }


    .buy-data{
        padding-left: 25px;
    }

    .counter{
        align-self: center;
    }

    .btn-buy{
        width: 50%;
        align-self: center;
        margin: 25px;
    }

    .cart-card{
        width: 90%;
    }

    .cart-body > img{
        width: 40%;
    }


    .total{
        width: 60%;
    }

    .cart-title{
        width: 70%;
    }


    .final-page{
        font-size: 3rem;
        display: flex;
    
    }
}